:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-btn-color:#f5f4fa ;
  --second-btn-color:#2196F3;
--main-background-color: #f5f5f5;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --colr-header:#FFFFFF;
  --color-container:#EEEEEE;

}
/* /главная страница */

body {
  font-size: 14px;
  background-color:var(--main-background-color);
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  font-family:Roboto;
  font-style:Regular;
  font-style:Bold; 
  font-style: Medium;

}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.nav-link {
  color: var(--main-title-color);
font-weight: 500;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  text-decoration: none;
}
.nav-link:hover {
  color: #2196f3;
}
.nav-link:focus {
  color: #2196f3;
}
.logo-web {
  color: #2196f3;
  cursor: pointer;
}
.accent {
  color: #2196f3;
}
.contact-link {
  text-decoration: none;
font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-link:hover {
color: #2196f3;
}
.contact-link:focus {
  color: #2196f3;
}

.button-main {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px ;
  line-height: calc(26 / 16);
   letter-spacing: 0.03em;
    text-transform: uppercase;
  background-color:var(--second-btn-color);
  color: var(--colr-header #FFFFFF);
  cursor: pointer;


 
}
.button-main:hover {
  color: #2196f3;
}
.button-main:focus {
  color: #2196f3;
}
.button-main:active {
  color: #2196f3;
}
.title-main {
  color: #ffffff;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  background-color: var(--background-footer-color);
}
.hero {
  background-color: var(--background-footer-color #2f303a);
}

/* /feature style */

.feature {
color:var(--main-background-color) ;
}
.feature-caption {
  color: var(--main-title-color);
font-weight: 700;
  line-height: calc(14 / 16);
  letter-spacing: 0.03em;
}
.feature-advance {
  color: var(--second-title-color);
  font-weight: 400;
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
}

/* /photo section */

.box-img {
color: var(--main-background-color);
}

.title {
  color: var(--main-title-color);
  font-weight: 700;
  font-family: "Roboto";
}
.background-section {
  background-color: var(--second-background-color);
}

/* team */

.section-name {
  color: var(--main-title-color);
  font-weight: 500;
  font-family: "Roboto";
}
.section-profession {
  color: var(--second-title-color);
  font-weight: 400;
 
}

/* addres */

.footer {
   background-color: var(--background-footer-color);
}

.link-footer {
text-decoration: none;
 color: var(--main-title-color);

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  text-decoration: none;
}
.link-footer:hover {
  color: #2196f3;
}
.link-footer:focus {
  color: #2196f3;
}



/* second page */
.nav-header {
  background-color:var(--colr-heder #FFFFFF) ;
}

.subtitle {
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.text {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}


/* filter */

.button {
   background-color: var(--second-background-co);
}

.button {
 font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height:calc(26 / 16);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--main-title-color #212121);
background-color: var( --second-btn-color #f5f4fa);
}
.button:hover {
background-color: var(--second-btn-color#2196F3);
  color: var(--colr-header#FFFFFF);
  
}
.button:focus {
  color: var(--background-footer-color);
background-color: var(--second-btn-color#2196F3);
}

/* project */

.project {
background-color:var(--main-background-color #f5f5f5); 

}
.project-container {
  background-color:var(--color-container); 

}
.footer {
  background-color: #2f303a;
}
.link-footer {
  color: #ffffff;
  position: absolute;

  font-weight: 400;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;
}
.link-footer:hover {
  color: #2196f3;
}
.link-footer:focus {
  color: #2196f3;
}
.studio {
  color: #212121;
  display: inline-block;}
.studio {
  font-weight: 500;
}
.portfolio {
  color: #2196f3;
  font-weight: 500;
}
.service {
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto";
}
.background-image {
  background-color: #eeeeee;
}
