.body {
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}
.background-image {
    background-color: #EEEEEE;}

    .background-container {
       background-color: #FFFFFF;
    }
    .background-footer {
        background-color: #2F303A;   
     }
        