:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-btn-color:#f5f4fa ;
  --second-btn-color:#2196F3;
--main-background-color: #f5f5f5;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --colr-header:#FFFFFF;
  --color-container:#EEEEEE;
--color-logo:#000000;
--color-logo-footer:#FFFFFF;

}
/* /главная страница */

body {
  background-color:var(--main-background-color);
 
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.nav-link {
  color: var(--main-title-color);
font-weight: 500;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  text-decoration: none;
  font-family: Roboto;
font-style: Medium;
}
.nav-link:hover {
  color:var(--second-btn-color);
}
.nav-link:focus {
  color:var(--second-btn-color);
}
.title-web {
  color: var(--color-logo);
  cursor: pointer;
  font-family : Raleway;
font-style : Bold;
line-height: calc( 31 / 26 );
letter-spacing: 0.03em;
}
.accent {
  color: var(--second-btn-color);
   cursor: pointer;
  font-family : Raleway;
font-style : Bold;
line-height: calc( 31 / 26 );
  letter-spacing: 0.03em;
}
.contact-link {
  text-decoration: none;
font-weight: 500;
  line-height: calc( 16 / 14 );
  letter-spacing: 0.02em;
  color: var(--second-btn-color);
font-family: Roboto;
font-style: Medium;
}
.contact-link:hover {
color:var(--second-btn-color);
}
.contact-link:focus {
  color:var(--second-btn-color);
}
.tel-link {
  font-family:  Roboto;
font-style:  Medium;
font-size: 14px;
color: #757575;}

.tel-link:hover {
  color:var(--second-btn-color);
}
.tel-link:focus {
  color:var(--second-btn-color);
}
.title-main {
  color: #ffffff;
  font-weight: 900;
  line-height: calc( 60 / 44 );
  letter-spacing: 0.06em;
  background-color: var(--background-footer-color);
  font-family: Roboto;
font-style: Black;
}
.hero {
  background-color: var(--background-footer-color);
}

.button-main {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px ;
  line-height: calc(26 / 16);
   letter-spacing: 0.03em;
    text-transform: uppercase;
  background-color: var(--second-btn-color);
  color: var(--colr-header);
  cursor: pointer;


 
}
.button-main:hover {
  color:var(--second-btn-color);
}
.button-main:focus {
  color:var(--second-btn-color);
}
.button-main:active {
  color:var(--second-btn-color);
}


/* /feature style */

.feature {
color:var(--main-background-color) ;
}
.feature-caption {
  color: var(--main-title-color);
font-weight: 700;
  line-height: calc(14 / 16);
  letter-spacing: 0.03em;
  font-family: Roboto;
font-style:  Bold;
}
.feature-advance {
  color: var(--second-title-color);
  font-weight: 400;
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
  font-family: Roboto;
font-style: Regular;

}

/* /photo section about*/

.about-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-family: "Roboto";
font-style: Bold;
font-size: 36px;
letter-spacing: 0,03;
 line-height: calc( 42 / 36 );
}
.background-section {
  background-color: var(--second-background-color);
}

/* team */

.team {
   background-color:var(--second-background-color)
}
.team-title {
  color:var(--main-title-color) ;
  font-family: Roboto;
font-style: Bold;
font-size: 36px;
font-weight: 700;
letter-spacing: 0,03;
 line-height: calc( 42 / 36 );
}



.team-name {
  color: var(--main-title-color);
  font-weight: 500;
  font-family: "Roboto";
font-style: Medium;
font-size: 16px;
letter-spacing: 0,03;
 text-decoration: none;
 line-height:calc( 19 / 16 );
}
.team-profession {
  color: var(--second-title-color);
  font-weight: 400;
  font-family: Roboto;
font-style: Regular;
font-size: 16px;
letter-spacing: 0,03;
 text-decoration: none;
 line-height: calc( 19 / 16 );
 
}

/* addres */


.contacts-address-link {
  font-family: Roboto;
font-style: Regular;
font-size: 14px;
color: var(--colr-header);
font-weight: 400;
letter-spacing: 0,03;
 text-decoration: none;
 line-height: calc( 24 / 14 );
}
.contacts-link {
  color: rgb(255, 255, 255, 0.6);
  font-family: Roboto;
font-style: Regular;
font-size: 14px;
 font-weight: 500;
  letter-spacing: 0.02em;
  line-height: calc( 16 / 14 );
  text-decoration: none;
}
.contacts-link:hover {
   color:var(--second-btn-color);
}


.footer {
   background-color: var(--background-footer-color);
}
.title-web-footer {
  color: var(--color-logo-footer);
  cursor: pointer;
  font-family : Raleway;
font-style : Bold;
line-height: calc( 31 / 26 );
letter-spacing: 0.03em;
}





/* second page */
.nav-header {
  background-color:var(--colr-heder) ;
}
/* filter */
.button-filter {
 font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc( 26 / 16);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--main-title-color);
background-color: var( --second-btn-color);
}
.button-filter:hover {
background-color: var(--second-btn-color);
  color: var(--colr-header);
  
}
.button:focus {
  color: var(--background-footer-color);
background-color: var(--second-btn-color);
}

/* project */

.project-container {
  background-color: var(--color-container); 

}
.project-subtitle {
  line-height: calc( 36 / 18) ;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  font-family: Roboto;
font-style: Bold;
font-size: 18px;
}
.project-text {
  line-height: calc( 30 / 16 );
  letter-spacing: 0.03em;
  color: var(--second-title-color);
   font-family: Roboto;
font-style: Regular;
font-size: 18px;
}

.footer {
  background-color:var(--background-footer-color);
}
.link-footer {
  color: #ffffff;
  position: absolute;
font-family: Roboto;
font-style: Regular;
  font-weight: 400;
  line-height: calc( 24 / 14 );
 letter-spacing: 0.03em;
}
.link-footer:hover {
  color:var(--second-btn-color);
}
.link-footer:focus {
  color:var(--second-btn-color);
}

