:root {
  --main-title-color: #212121;
  --second-title-color: #757575;
  --main-btn-color: #2196f3;
  --second-btn-color: #f5f4fa;
  --main-background-color: #f5f5f5;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
}
.title-main {
  color: #ffffff;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
}

.hero {
  background-color: #2f303a;
}

.body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  color: #757575;
}

.caption {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: calc(14 / 16);
  letter-spacing: 0.03em;
}
.desc-advance {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
}

.title {
  color: #212121;
  font-weight: 700;
  font-family: "Roboto";
}

.name {
  color: #212121;
  font-weight: 500;
  font-family: "Roboto";
}
.profession {
  color: #757575;
  font-weight: 400;
  font-family: "Roboto";
}
.background-footer {
  background-color: #2f303a;
}
.background-section {
  background-color: #f5f4fa;
}

.list {
  list-style: none;
}
.contact-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

/* second page */

.nav-link {
  color: #212121;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  text-decoration: none;
}
.nav-link:hover {
  color: #2196f3;
}
.nav-link:focus {
  color: #2196f3;
}

.button {
  color: #212121;

  background: #f5f4fa;

  cursor: pointer;
  position: absolute;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: calc(26 / 16);
}
.button:hover {
  color: #2196f3;
}
.button:focus {
  color: #2196f3;
}
.button:active {
  color: #2196f3;
}

.subtitle {
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.text {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
}
.link-footer {
  color: #ffffff;
  position: absolute;
  font-family: "Roboto";
  font-weight: 400;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;
}
.link-footer:hover {
  color: #2196f3;
}
.link-footer:focus {
  color: #2196f3;
}

.studio {
  font-weight: 500;
}
.portfolio {
  color: #2196f3;
  font-weight: 500;
}
.service {
  color: #ffffff;
  font-weight: 500;
  font-family: "Roboto";
}

.button-all {
  background-color: #f5f4fa;
  cursor: pointer;
  text-transform: uppercase;
}
.button-all:hover {
  color: #2196f3;
  color: var (--main-btn-color);
  background-color: #2196f3;
}
.button-all:focus {
  color: #2f303a;
  background-color: #2196f3;
}

.background-image {
  background-color: #eeeeee;
}
